@page
@model IndexModel
@{
    ViewData["Title"] = "Main";
}

<div class="text-center">
    <h1 class="display-4">Lucas Ignacio Vergara Ibañez</h1>
    <p>La documentación de ASP.NET: <a href="https://docs.microsoft.com/aspnet/core"> click </a>.</p>
</div>
<div class="alert alert-danger" role="alert">
    Alerta de prueba que muestra la hora: @DateTime.Now
</div>

